[submodule "lib/make-pal"]
	path = lib/make-pal
	url = git@github.com:tomasz-lisowski/make-pal.git
[submodule "lib/cjson"]
	path = lib/cjson
	url = git@github.com:DaveGamble/cJSON.git
[submodule "lib/tau"]
	path = lib/tau
	url = git@github.com:tomasz-lisowski/tau.git
